.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact_info {
    font-size: 150%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: -3px 2px 0px rgb(75, 4, 118);
    color: #e9e6f1;
    margin-top: 20px;
    display: flex;
}

.contact_option {
    color: gold;
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    .contact {
        /* width: 300px; */
        font-size: 70%;
    }
}