@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.logo {
    color: #e9e6f1;
    font-size: 200%;
    text-shadow: -3px 2px 0px rgb(51, 51, 155);
}

.project {
    color: #e1ddea;
}

.project:hover {
    color: #f1f1f1;
    font-size: xx-large;
}

a {
    text-decoration: none;
    font-size: 120%;
    color: gold;
    /* font-family: 'Abril Fatface'; */
}

header {
    position: sticky;
    z-index: 30;
    top: 0;
}

nav {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 300;
}

.nav__menu-bar {
    display: flex;
    margin-right: 20px;
    height: 20px;
    flex-direction: column;
    row-gap: 6px;
    cursor: pointer;
}

.nav__menu-bar div {
    width: 30px;
    height: 5px;
    background-color: gold;
    border-radius: 2px;
}

.nav__menu-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 40px;
    width: 90px;
    row-gap: 12px;
    margin-top: 15px;
    right: -100px;
    padding: 24px 16px;
    transition: all 0.2s;
    font-size: 75%;
    font-weight: bold;
    min-height: calc(100vh - 60px);
    background: transparent;
}

.nav__menu-list.active {
    right: 0;
}

.nav__link {
    font-size: 18px;
    position: relative;
    transition: all 0.2s;
}

.nav__link:hover {
    font-weight: bold;
}

.center {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .nav__menu-bar {
        display: none;
    }

    .nav__menu-list {
        position: unset;
        flex-direction: row;
        min-height: fit-content;
        width: fit-content;
        column-gap: 24px;
        align-items: center;
    }

    .nav__link::before {
        content: '';
        position: absolute;
        width: 0%;
        height: 6px;
        bottom: -16px;
        left: 0;
        background-color: black;
        transition: all 0.2s;
    }

    .nav__link:hover:before {
        width: 100%;
    }
}

/* .active {
    color: green;
} */