.portfolio {
    display: flex;
    align-items: center;
    font-size: 130%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color: #f1f1f1;
}

.project_item {
    font-weight: bold;
    margin-top: 50px;
}