body {
    background-color: whitesmoke;
    color: black;
}

.main {
    display: flex;
    align-content: center;
    justify-content: center;
}

.list {
    font-weight: bold;
    font-size: larger;
}